*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
:root{
    --grayblue: #73909B;
    --darkblue: #1F2C34;
    --darkbeige: #E2E2E2;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}
html,body{
    height: 100%;
}
body{
    background-color: var(--grayblue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
main{
    flex-grow: 1;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 70%;
    max-width: 70%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.615);
    overflow: hidden;
    transition: all .5s;
}
#h1login{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}
#boasvindas{
    margin-bottom: 15px;
}
main p{
    width: 90%;
    text-align: center;
    text-justify: justify;
    font-size: 0.8em;
    margin: auto;
}
#divimg{
    background: url(../media/mountains.jpg);
    background-size: cover;
    min-height: 35%;
}
#divlogin{
    min-height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#divtexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 35%;
    margin: 15px auto 0px auto;
}
form{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 65%;
    margin-bottom: 10px;
}
.login{
    width: 90%;
    flex-grow: 1;
    flex-basis: 20px;
    margin:auto;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
div .fundoazul{
    background-color: var(--darkblue);
    color: white;
}
.icon{
    text-align: center;
    width: 2em;
    height: auto;
    filter: invert(100%);
    transform: translate(25%, 10%);
    user-select: none;
}
input{
    flex-grow: 0;
    min-height: 70%;
    width: 75%;
    border: none;
    border-radius: 5px;
    background-color: var(--darkbeige);
    text-align: center;
}
.botao{
    border: none;
    cursor: pointer;
}
button span{
    margin: auto;
}
#diventrar{
    background-color: var(--grayblue);
    color: white;
    font-weight: 500;
}
#diventrar:hover{
    background-color: var(--darkblue);
}
#esqueci{
    min-height: 19%;
    border: 1px solid var(--darkblue);
    background-color: white;
    text-decoration: none;
    color: var(--darkblue);
}
#esqueci span{
    margin: auto;
}
#esqueci:hover{
    background-color: var(--darkbeige);
}

footer{
    background-color: var(--darkblue);
    flex-shrink: 0;
    width: 100%;
    margin-top: auto;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
    display: inline-block;
    line-height: 25px;
}

@media screen and (min-width: 600px) and (max-width: 768px){
    body{
        background-image: linear-gradient(to top,var(--grayblue), var(--darkblue));
    }
    main{
        max-width: 80%;
        max-height: 60%;
        display: flex;
    }
    #divimg{
        height: 100%;
        width: 30%;
    }
    #divlogin{
        height: 90%;
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    form{
        display:flex;
        justify-content: space-evenly;
        flex-direction: column;
        height: 65%;
    }
    #divtexto{
        min-height: 35%;
        margin: 5% auto 0 auto;
        justify-content: space-around;
    }
    #h1login{
        line-height: 100%;
        font-size: 2.8vw;
    }
    #boasvindas{
        line-height: 100%;
        padding: 0;
        margin: 0 auto 5% auto;
    }
    .icon{
        width: 4vw;
    }
}

@media screen and (max-width: 450px) {
    main {
        max-width: 95%;
        max-height: 90%;
    }
    #divimg, #divlogin {
        flex-direction: column;
        width: 100%;
    }
    #divtexto {
        margin: 10px auto;
    }
}

@media screen and (min-width: 768px){
    body{
        background-image: linear-gradient(to top,var(--grayblue), var(--darkblue));
    }
    main{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-height: 52%;
        max-width: 62%;
        display: flex;
    }
    #divimg{
        min-height: 100%;
        min-width: 50%;
    }
    #divlogin{
        max-height: 95%;
        min-width: 50%;
        display: flex;
        justify-content: space-between;
    }
    form{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        min-height: 60%;
    }
    #divtexto{
        min-height: 40%;
        display: flex;
        padding: 10% 5% 2% 5%;
    }
    #h1login{
        line-height: 100%;
        font-size: 2vw;
    }
    #boasvindas{
        line-height: 100%;
    }
    .icon{
        position: relative;
        width: 2vw;
    }
    #divlogin a{
        font-size: 0.8em;
    }
}
